@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}

.wrapper{
  margin: 10px;

}

.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 15px);
  height: 100%;
  background-color: #2a2f44;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .text{
  color: #0289d1;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 560px;
  font-family: 'Poppins', sans-serif;
}

.gradient-text{
  background: -webkit-linear-gradient(330deg, #a92fff 0%, #a92fff 25%, #0289d1 50%, #a92fff 75%, #a92fff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li .titre:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li .titre:hover i{
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #0289d1;
  border-radius: 50%;
  color: #0289d1;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #0289d1;
  color: #fff;
   box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
  
}



/* I N F O R M A T I O N    S U R   U T I L I S A T E U R */
.wrapper .top_navbar .top_menu .infos-utilisateur{ 
      visibility: hidden;
      display: table;
      position: fixed;
      top: 6.4%;
      right: 4%;
      width: 15%;
      height: auto;
      padding: 10px;
      background: #2a2f44;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      box-shadow: 3px 10px 50px rgba(0, 0, 0, 0.9), 4px 11px 18px rgba(56, 56, 56, 0.2);
}

.wrapper .top_navbar .top_menu .infos-utilisateur:target{
      visibility: visible;
}

h3{
  font-size: 15px;
  padding: 5px;
  color: #0289d1;
}

h4{
  color: #fff;
  letter-spacing: 1px;
}

.fa-user-tie{
  font-size: 50px;
  padding: 10px;
  color: #0289d1;
  border: 1px solid;
  border-radius: 50%;
}

.deconnecter{
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  background: #0289d1;
  font-weight: bold;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
  margin-bottom: 15px;
}

.deconnecter:hover,
.deconnecter:focus{
  background: #fff;
  color: #0289d1;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
}

.wrapper .top_navbar .top_menu .btn-fermer{
  text-decoration: none;
  position: absolute;
  top: -10%;
  right: -4.4%;
  font-size: 1.55em;
  font-weight: 300;
  color: white;
  border-radius: 5em;
  font-family: 'Comfortaa', cursive;
  box-shadow:0 0 20px #000;
  padding: -5px 5px;
  width: 35px;
  background: #f70a0a;
}

.wrapper .top_navbar .top_menu .btn-fermer:hover{
	color: #f70a0a;
	background: #fff;
}

.wrapper .top_navbar .top_menu.affiche-infos-user{
	box-sizing: border-box;
	padding: 10px;
}


.wrapper .top_navbar .top_menu .affiche-infos-user .p-alerte{
	font-size: 1.1em;
	font-family: 'Klee One', cursive;
	font-weight: bold;
  text-align: center;
  color: rgb(255, 0, 0);
}

.wrapper .sidebar{
  position: fixed;
  top: 10px;
  left: 10px;
  background: #2a2f44;
  width: 230px;
  height: calc(100% - 25px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

img{
  width: 70%;
  margin: auto;
}

.logo{
  margin: 10px auto;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-logo{
  display: flex;
  align-items: center;
  width: 60px;
}

.titre-entreprise{
  font-size: 17px;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.infos{
  text-align: center;
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 15px;
  background-image: linear-gradient(310deg, #a92fff,  #0289d1, #a92fff);
  color: white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
}

.infos:hover,
.infos:focus{
  background: white;
  color: #0289d1;
  box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.titre{
  margin-top: 20px;
  margin-left: 27px;
  font-size: 15px;
  display: inline-block;
  color: #0289d1;
}

span.icon-titre{
  font-size: 20px;
  color: #0289d1;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 5px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    margin-left: 65px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
  color: #fff;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
  font-size: 13px;
  color: #9a9c9e;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
  font-size: 15px;
  color: #9a9c9e;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
} 

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 230px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: rgb(243, 241, 241);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
  height: 81.9vh;
  margin-top: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper .main_container .item marquee{
  color: #f70a0a;
  font-family: 'Quicksand', sans-serif;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}

.img-banner{
  width: 80%;
  margin-left: 140px;
}

p{
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script', serif;
  color: #0289d1;
  font-weight: bold;
}


/* T H E   D A T A  */

.form{
  padding: 40px 200px;
}

label{
  float: left;
  padding: 10px;
  font-size: 16px;
  color: #0289d1;
  font-weight: bold;
}

input, select{
  outline: none;
  padding: 10px;
  border: 1px solid #0289d1;
  border-radius: 10px;
  float: right;
  width: 50%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
}

input::placeholder{
  color: rgb(172, 172, 168);
}

input:focus,
input:hover{
  box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.btn-ajouter{
  font-size: 12px;
  color: rgb(9, 52, 247);
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: bold;
  margin-right: 165px;
  width: 80px;
  margin-top: 30px;
}

.btn-ajouter:hover{
  color: white;
  background: rgb(9, 52, 247);
}

.btn-reset{
  font-size: 12px;
  color: rgb(255, 0, 0);
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: bold;
  width: 80px;
  margin-top: 30px;
}

.btn-reset:hover{
  color: white;
  background: rgb(255, 0, 0);
}

.liste{
  text-align: center;
  margin-top: 20px;
  color: #2a2f44;
}

table{
  width: 100%;
  margin: auto;
  cursor: pointer;
  border-collapse: collapse;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 15px 0 rgba(0,0,0,0.20);
}

thead tr th{
  padding: 10px 15px;
  font-size: 17px;
  background: #2a2f44;
  color: #0289d1;
}

td{
  padding: 5px 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

tbody tr:hover{
  background: #0289d1;
}
.btn-modifier{
  font-size: 12px;
  color: #0289d1;
  background: rgb(43, 50, 78);
  border-radius: 25px;
  padding: 1px 14px;
  font-weight: bold;
  border: 1px solid rgb(43, 50, 78);
}

.btn-modifier:focus,
.btn-modifier:hover{
  color: #fff;
  background: none;
  border: 1px solid #fff; 
  box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.btn-supprimer{
  font-size: 12px;
  color: #000;
  background: rgb(218, 15, 15);
  border-radius: 25px;
  padding: 1px 14px;
  font-weight: bold;
  border: 1px solid rgb(43, 50, 78);
}

.btn-supprimer:focus,
.btn-supprimer:hover{
  color: #000;
  background: none;
  border: 1px solid #000; 
  box-shadow: 0 5px 10px 0 rgba(255, 254, 194, 0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.id{
  font-weight: bold;
  color: rgb(255, 0, 0);
}

tr:nth-child(odd){
  background: rgba(43, 50, 78, .3);
}

tr:nth-child(even){
  background: white;
}

.mod{
  background: none;
}



